<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	
	<display-name>KSCB</display-name>
	
	<servlet>
		<servlet-name>MenuService</servlet-name>
		<servlet-class>org.kscb.servlets.rest.menu.MenuService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>MenuService</servlet-name>
		<url-pattern>/MenuService/*</url-pattern>
	</servlet-mapping> 

	<servlet>
		<servlet-name>PageController</servlet-name>
		<servlet-class>org.kscb.servlets.controller.PageController</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>PageController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<filter>
		<filter-name>PageCacheFilter</filter-name>
		<filter-class>org.kscb.filters.PageCacheFilter</filter-class>
		<init-param>
			<param-name>cacheEntryTimeToLive</param-name>
			<param-value>200</param-value>
		</init-param>
		<init-param>
			<param-name>cacheTimerInterval</param-name>
			<param-value>5000</param-value>
		</init-param>
		<init-param>
			<param-name>cacheMaxItems</param-name>
			<param-value>100</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>PageCacheFilter</filter-name>
		<url-pattern>/controller</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>